@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');


body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: paleturquoise;
    font-size: 24px;
}
.top_con{
    background-color: #1F2937;
    height: 70vh;
    width: 100%;
}
#logo{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1vw;
}
header .top_nav ul{
    display: flex;
    list-style: square;
    gap: 6vw;
}
header .top_nav li{
    list-style: none;
}

header .top_nav a{
    text-decoration: none;
    color: #E5E7EB;
}
.top_con2{
    display:flex;
    justify-content:space-between;
    padding: 0 1vw;
}
.top_text{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40vw;
    margin-left: 10vw;
    
}
#big_img{
    display:flex;
    height: 50vh;
    width: 30vw;
    border-radius: 10px;
}

#bold_text1{
    display:flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    white-space: nowrap;
    padding: 1vh 0;
}
#small_text1{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding: 1.5vh 0;
}
#signup{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 1vh 3vw;
    border-radius: 15px;
    font-weight: bold;
    border: none;
}
#signup:hover{
    background-color: #2576f8;
    transition: 0.3s;
    transform: scale(1.1);
}
.mid_con{

    width: 100%;
    height: 70vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color:#1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -5vh;
    padding: 3vh 0;
}
.rand_info_con{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 3vw;
}

.rand_info_con img{
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 10px;
}
.rand_info_con p{
    color: #1F2937;
    text-align: center;
    max-width: 200px;
    font-size: 18px;
    font-weight: bold;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;;
    border-radius: 10px;
    width: 200px;
}
.quote_con{
    width: 100%;
    height: 70vh;
    background-color: #E5E7EB;
}
.quote_flex{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.quote{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.q_txt{
    font-size: 42px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}
.q_name{
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
}
.call_to_action{
width: 100%;
height: 30vh;
display:flex;
justify-content: center;
align-items: center;
}
.cta_box{
    height: 15vh;
    width: 70vw;
    background-color: #2576f8;
    border-radius: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.cta_text{
    color:#E5E7EB;
    font-size: 32px;
    font-weight: bolder;
}
.cta_btn{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 1vh 3vw;
    border-radius: 15px;
    font-weight: bold;
    border: solid white 2px;
}
.cta_btn:hover{
    background-color: #2576f8;
    transition: 0.3s;
    transform: scale(1.1);
}
footer{
    width: 100%;
    height: 10vh;
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}
#bot{
    color:#E5E7EB;
}